/* Admin.css */

/* Full screen image background setup */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Container with background image */
.admin-background {
  background-image:
    linear-gradient(135deg, #151115e8 0%, #34363492 100%),
    url('https://images.unsplash.com/photo-1519389950473-47ba0277781c');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

/* Login form card */
.admin-form {
  background-color: rgba(203, 222, 229, 0.562);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(17, 143, 65, 0.559);
  width: 350px;
  animation: slideUp 0.8s ease-out;

}

/* Hover effect on button */
button.w-100:hover {
  background-color: #0056b3;
  transition: 0.3s;
  color: #ffffffed;
}

.newadmin {
  font-size: large;
  font-weight: bold;
}

.newadminin {
  background-color: rgba(255, 255, 0, 0.411);
  box-shadow: 0 8px 25px rgba(2, 15, 7, 0.93);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}