/*body{
    background-color: aliceblue;
}
.img1{
    position: absolute;
    top:70px;
    right:740px;
   
}

.img2{
    position: absolute;
    top:70px;
    right:560px;
}
.img3{

   position: absolute;
   top:70px;
   right: 380px;
   
}
.img4{
    position: absolute;
    top:70px;
    right: 200px;
    
 } 
 .img5{
    position: absolute;
    top:70px;
    right: 20px;
    
 } 


.letter1{
    position: absolute;
    top:219px;
    right:750px;
   
   
}
.letter2{
    position: absolute;
    top:219px;
    right:560px;
   
}
.letter3{
    position: absolute;
    top:219px;
    right:415px;
   

}
.letter4{
    position: absolute;
    top:219px;
    right:240px;
   

}
.letter5{
    position: absolute;
    top:219px;
    right:20px;
}


.letter{
    position: absolute;
    left:200px;
}
  
*/