.small {
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

/*.loginbgm {
  background-image: url("https://wallpaperaccess.com/full/1320272.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
 

}*/